<a href="https://colab.research.google.com/github/bijaykahar/Walking-Running-Prediction/blob/master/Data%20Analyzing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

In [ ]:
import numpy as np
import pandas as pd
ddata =pd.read_csv('/content/drive/My Drive/Internship_DataMites/Walking Running Classification/walkrun.csv')
ddata.head()

        date                time username  ...  gyro_x  gyro_y  gyro_z
0  2017-6-30  13:51:15:847724020   viktor  ... -0.0590  0.0325 -2.9296
1  2017-6-30  13:51:16:246945023   viktor  ... -0.1757  0.0208  0.1269
2  2017-6-30  13:51:16:446233987   viktor  ... -0.9105  0.1063 -2.4367
3  2017-6-30  13:51:16:646117985   viktor  ...  0.1199 -0.4099 -2.9336
4  2017-6-30  13:51:16:846738994   viktor  ...  0.0527  0.4379  2.4922

[5 rows x 11 columns]

In [ ]:
ddata.shape

(88588, 11)

In [ ]:
ddata.date.unique()

array(['2017-6-30', '2017-7-10', '2017-7-11', '2017-7-15', '2017-7-16',
       '2017-7-17', '2017-7-1', '2017-7-2', '2017-7-4', '2017-7-6',
       '2017-7-7', '2017-7-9'], dtype=object)

In [ ]:
ddata.wrist.unique()

array([0, 1])

In [ ]:
ddata.username.unique()

array(['viktor'], dtype=object)

In [ ]:
ddata.activity.unique()

array([0, 1])